<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="ConexionesSection" type="Ibd.Framework.AccesoDatos.ConexionesConfig.ConexionConfigurationSection, Ibd.Framework" />
    <section name="ConfiguracionAnexos" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <connectionStrings>
    <add name="SIMERConnectionString_" connectionString="Data Source=10.32.36.115;Initial Catalog=SIMER;Persist Security Info=True;User ID=sa;Password=5Ig3n.2016"
      providerName="System.Data.SqlClient" />  
    <add name="SIMERConnectionString" connectionString="Data Source=10.32.37.74;Initial Catalog=SIMER;Persist Security Info=True;User ID=appUsrMercado;Password=S1stM3rc@d0"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <ConfiguracionAnexos>
    <!-- Configuración de carpeta de monitoreo -->
    <add key="CarpetaAnexos" value="C:\\Iberdrola\\prjs\\req\\Macro\\" />
    <add key="Plantilla" value="template_FacturaMercado.xlsx" />
  </ConfiguracionAnexos>
  <ConexionesSection>
    <Conexiones>
      <Conexion nombre="Default_loc" proveedor="System.Data.SqlClient" conexion="HOR531435G; Database=SIMER; User Id=sa; Password=Ib3r!R0g3r;" factory="BDFactoryProvider" />
      <Conexion nombre="Default_" proveedor="System.Data.SqlClient" conexion="Server=10.32.36.115;Database=SIMER;User id=sa;Password=5Ig3n.2016; Connection Timeout=620;" factory="BDFactoryProvider" />
      <Conexion nombre="Default" proveedor="System.Data.SqlClient" conexion="Server=10.32.37.74;Database=SIMER;User id=appUsrMercado;Password=S1stM3rc@d0; Connection Timeout=620;" factory="BDFactoryProvider" />
      <Conexion nombre="Default_prod" proveedor="System.Data.SqlClient" conexion="Server=10.32.37.74;Database=SIMER;User id=appUsrMercado;Password=S1stM3rc@d0;" factory="BDFactoryProvider" />
    </Conexiones>
  </ConexionesSection>
  <appSettings>
    <add key="appConnectionString_desa" value="Server=10.32.37.74;Database=SIMER;User Id=appUsrMedicion;Password=S1stM3d1c10n;" />
    <add key="appConnectionString_" value="Server=10.32.36.115;Database=SIMER;User Id=sa;Password=5Ig3n.2016;" />
    <add key="appConnectionString" value="Server=10.32.37.74;Database=SIMER;User Id=appUsrMercado;Password=S1stM3rc@d0;" />
    <add key="appConnectionString_loc" value="Server=HOR531435G;Database=SIMER;User Id=sa;Password=Ib3r!R0g3r;" />
    <add key="GuardarReporteGeneral" value="~/Reportes/" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </buildProviders>
      <assemblies>
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
    <sessionState timeout="120">
    </sessionState>
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    </pages>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ClosedXML" publicKeyToken="fd1eb21b62ae805b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.0" newVersion="0.86.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
</configuration>